.joinnow
{
    background-color: #eff6ff;
    padding: 140px 100px;
}
.login
{
    background-color:lightblue;
    padding: 20px 30px;
}
@media screen and (max-width:600px)
{
    .joinnow
    {
       padding: 150px 10px;
    }
        
}