<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci, dicta minus. Voluptas ad dolores architecto cum nemo commodi! Rem saepe in asperiores quam debitis sit ab velit maiores recusandae nam?
     </p>
     <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse deleniti sunt voluptatum recusandae, nulla incidunt omnis ullam molestias blanditiis debitis natus aliquid ab facilis ducimus, atque hic fuga. Voluptate, non.</p>
     <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="https://www.instagram.com/"> Instagram</a>
        <a href="https://web.whatsapp.com/"> Whatsapp</a>
        <a href="https://twitter.com/?lang=id"> Twitter</a>
        <a href="https://www.youtube.com/"> Youtube</a>

     </div>
</section>