.home img
{
    width: 100%;
    height: 600px;
    object-position: center;
    object-fit: cover;
}
.homecontent
{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
}
.homecontent h1
{
    color: white;
    font-size: 42px;
}
.homecontent 
{
margin: 5px;
}
@media screen and (max-width:600px)
{

}